<div class="account-nav">
  <ul>
    <li><a href="/account">{{ 'customer.orders.title' | t }}</a></li>
    <li><a href="/account/addresses">{{ 'customer.addresses.title' | t }}</a></li>
    <li><a href="/pages/wishlist">Wunschliste</a></li>
    <li class="logout">
      <span class="icon">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.3333 14.166V11.666H8.5V8.33268H14.3333V5.83268L18.5 9.99935L14.3333 14.166ZM12.6667 1.66602C13.1087 1.66602 13.5326 1.84161 13.8452 2.15417C14.1577 2.46673 14.3333 2.89065 14.3333 3.33268V4.99935H12.6667V3.33268H5.16667V16.666H12.6667V14.9993H14.3333V16.666C14.3333 17.108 14.1577 17.532 13.8452 17.8445C13.5326 18.1571 13.1087 18.3327 12.6667 18.3327H5.16667C4.72464 18.3327 4.30072 18.1571 3.98816 17.8445C3.67559 17.532 3.5 17.108 3.5 16.666V3.33268C3.5 2.89065 3.67559 2.46673 3.98816 2.15417C4.30072 1.84161 4.72464 1.66602 5.16667 1.66602H12.6667Z" fill="#4A4A4A"/>
        </svg>
      </span>
      {{ 'layout.customer.log_out' | t | customer_logout_link }}
    </li>
  </ul>
</div>