
{% paginate collection.products by 24 %}

{% if collection.image != blank %}
<div class="collection-image" style="background-image: url({{ collection.image | img_url: '1400x' }});">
  <div class="hero__content-wrapper">
    <div class="hero__content">
      <div class="hero__content-centered">
        {%- if section.settings.show_collection_title -%}
        <h1 class="collection-heading h2">
          <span role="text">
            <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
            {{ collection.title }}
          </span>
        </h1>
        {% endif %}
        {% if collection.description != blank %}
          <div class="rte rte--description">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%else%}
<h1 class="collection-heading h2">
  <span role="text">
    <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
    {{ collection.title }}
  </span>
</h1>
{% if collection.description != blank %}
  <div class="rte rte--description">
    {{ collection.description }}
  </div>
{% endif %}
{% endif %}




{%- if section.settings.collection_sort_enable or section.settings.collection_tags_enable -%}
  <div class="action-bar-secondary">
    {%- if section.settings.collection_tags_enable and collection.all_tags.size > 1 -%}
      <div class="action-bar-secondary__dropdown action-bar-secondary--left">
        <label for="SortTags" class="label--hidden">{{ 'collections.general.tags' | t }}</label>
        <select name="SortTags" id="SortTags" aria-describedby="a11y-refresh-page-message a11y-selection-message">
          {%- if current_tags -%}
            <option value="{{ collection.url }}">{{ 'collections.general.all_tags' | t }}</option>
          {%- else -%}
            <option value="">{{ 'collections.general.tags' | t }}</option>
          {%- endif -%}
          {%- for tag in collection.all_tags -%}
            {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
            <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
          {%- endfor -%}
        </select>
      </div>
    {%- endif -%}
    {%- if section.settings.collection_sort_enable and collection.products.size > 1 -%}
      <div class="action-bar-secondary__dropdown action-bar-secondary--right">
        <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
        <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-value="{{ collection.sort_by | default: collection.default_sort_by | escape }}">
          {%- for option in collection.sort_options -%}
            <option value="{{ option.value }}"{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
          {%- endfor -%}
        </select>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% comment %}
  Set grid item widths based on settings
{% endcomment %}

{% include 'product-grid-width' with product_image_type: section.settings.product_image_type, product_image_size: section.settings.product_image_size %}

<div class="grid collection-grid grid--uniform grid--no-gutters" data-section-id="{{ section.id }}" data-section-type="collection-template-section" data-sort-enabled="{{ section.settings.collection_sort_enable }}" data-tags-enabled="{{ section.settings.collection_tags_enable }}">
  {% for product in collection.products %}
    {% assign price = product.price | money_without_trailing_zeros %}
    {% include 'product-grid-item' with product_image_spacing: section.settings.product_image_spacing, vendor_enable: section.settings.vendor_enable %}
  {% else %}
    {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
    {% endcomment %}
    {% if collection.handle == 'all' %}
      <div class="grid__item">
        <div class="helper-section">
          <div class="grid grid--uniform grid--no-gutters helper-content">
            {% assign collection_onboarding_index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign collection_onboarding_index = 1 %}
                {% when 8 %}
                  {% assign collection_onboarding_index = 2 %}
              {% endcase %}
              <div class="product-item grid__item {{ grid_item_width }}">
                <a class="product-item__link" href="/admin/products">
                  {{ 'product-' | append: collection_onboarding_index | placeholder_svg_tag: 'product-item__image icon icon--placeholder' }}
                  <span class="product-item__meta">
                    <span class="product-item__meta__inner">
                      <p class="product-item__title">{{ 'homepage.onboarding.product_title' | t }}</p>
                      <p>$19.99</p>
                    </span>
                  </span>
                </a>
              </div>
              {% assign collection_onboarding_index = collection_onboarding_index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      {% comment %}
        If collection exists but is empty, display message
      {% endcomment %}
      <div class="grid__item text-center">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% if paginate.pages > 1 %}
  {% if section.settings.pagination_type == 'numbers' %}
    {% include 'pagination' %}
  {% else %}
    <div class="pagination--infinite">
      <a href="{{ paginate.next.url }}" class="btn js-show-more">{{ 'collections.general.show_more' | t }}</a>
    </div>
  {% endif %}
{% endif %}

{% endpaginate %}



{% schema %}
{
  "name": {
    "cs": "Kolekce",
    "da": "Kollektion",
    "de": "Kategorie",
    "en": "Collection",
    "es": "Colección",
    "fi": "Kokoelma",
    "fr": "Collection",
    "it": "Collezione",
    "ja": "コレクション",
    "ko": "컬렉션",
    "nb": "Samling",
    "nl": "Collectie",
    "pl": "Kolekcja",
    "pt-BR": "Coleção",
    "pt-PT": "Coleção",
    "sv": "Produktserie",
    "th": "คอลเลกชัน",
    "tr": "Koleksiyon",
    "vi": "Bộ sưu tập",
    "zh-CN": "收藏",
    "zh-TW": "商品系列"
  },
  "class": "collection-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": {
        "en": "Show Collection Title"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Vzhled",
        "da": "Udseende",
        "de": "Darstellung",
        "en": "Appearance",
        "es": "Apariencia",
        "fi": "Ulkoasu",
        "fr": "Apparence",
        "it": "Aspetto",
        "ja": "外観",
        "ko": "모양",
        "nb": "Utseende",
        "nl": "Uiterlijk",
        "pl": "Wygląd",
        "pt-BR": "Aparência",
        "pt-PT": "Aparência",
        "sv": "Utseende",
        "th": "การปรากฏ",
        "tr": "Görünüm",
        "vi": "Giao diện",
        "zh-CN": "外观",
        "zh-TW": "外觀"
      }
    },
    {
      "type": "select",
      "id": "product_image_type",
      "label": {
        "cs": "Styl obrázku",
        "da": "Billedstil",
        "de": "Bildstil",
        "en": "Image style",
        "es": "Estilo de imagen",
        "fi": "Kuvan tyyli",
        "fr": "Style d'image",
        "it": "Stile immagine",
        "ja": "画像スタイル",
        "ko": "이미지 스타일",
        "nb": "Bildestil",
        "nl": "Afbeeldingsstijl",
        "pl": "Styl obrazu",
        "pt-BR": "Estilo da imagem",
        "pt-PT": "Estilo da imagem",
        "sv": "Bildstil",
        "th": "รูปแบบรูปภาพ",
        "tr": "Görsel stili",
        "vi": "Kiểu hình ảnh",
        "zh-CN": "图片样式",
        "zh-TW": "圖片樣式"
      },
      "options": [
        {
          "value": "portrait",
          "label": {
            "cs": "Na výšku/čtverec",
            "da": "Høj/firkantet",
            "de": "Hoch/Quadrat",
            "en": "Tall/square",
            "es": "Alta/cuadrada",
            "fi": "Korkea/neliö",
            "fr": "Grand/carré",
            "it": "Verticale/quadrata",
            "ja": "縦長/正方形",
            "ko": "높이/정사각형",
            "nb": "Høyt/kvadratisk",
            "nl": "Hoog/vierkant",
            "pl": "Wysoki/kwadratowy",
            "pt-BR": "Alto/quadrado",
            "pt-PT": "Alto/quadrado",
            "sv": "Hög/kvadratisk",
            "th": "สูง/สี่เหลี่ยมจัตุรัส",
            "tr": "Uzun/kare",
            "vi": "Cao/vuông",
            "zh-CN": "高/正方形",
            "zh-TW": "高/正方形"
          }
        },
        {
          "value": "landscape",
          "label": {
            "cs": "Na šířku",
            "da": "Bred",
            "de": "Breit",
            "en": "Wide",
            "es": "Ancho",
            "fi": "Leveä",
            "fr": "Large",
            "it": "Orizzontale",
            "ja": "横長",
            "ko": "너비",
            "nb": "Bredt",
            "nl": "Breed",
            "pl": "Szeroki",
            "pt-BR": "Grande",
            "pt-PT": "Largo",
            "sv": "Bred",
            "th": "กว้าง",
            "tr": "Geniş",
            "vi": "Rộng",
            "zh-CN": "宽",
            "zh-TW": "寬"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "product_image_size",
      "label": {
        "cs": "Velikost obrázku",
        "da": "Billedets størrelse",
        "de": "Foto-Größe",
        "en": "Image size",
        "es": "Tamaño de la imagen",
        "fi": "Kuvan koko",
        "fr": "Taille de l'image",
        "it": "Dimensione immagine",
        "ja": "画像サイズ",
        "ko": "이미지 크기",
        "nb": "Bildestørrelse",
        "nl": "Afbeeldingsformaat",
        "pl": "Rozmiar obrazu",
        "pt-BR": "Tamanho da imagem",
        "pt-PT": "Tamanho da imagem",
        "sv": "Bildstorlek",
        "th": "ขนาดรูปภาพ",
        "tr": "Görsel boyutu",
        "vi": "Kích cỡ hình ảnh",
        "zh-CN": "图片尺寸",
        "zh-TW": "圖片尺寸"
      },
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Média",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "xlarge",
          "label": {
            "cs": "Extra velká",
            "da": "Ekstra stor",
            "de": "Extra groß",
            "en": "Extra large",
            "es": "Extra grande",
            "fi": "Erikoissuuri",
            "fr": "Très grande",
            "it": "Extra large",
            "ja": "特大",
            "ko": "특대",
            "nb": "Ekstra stort",
            "nl": "Extra groot",
            "pl": "Bardzo duży",
            "pt-BR": "Extra grande",
            "pt-PT": "Extra grande",
            "sv": "Extra stor",
            "th": "ขนาดใหญ่พิเศษ",
            "tr": "Çok büyük",
            "vi": "Cực lớn",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_image_spacing",
      "label": {
        "cs": "Zvětšit rozestupy mezi obrázky",
        "da": "Tilføj mellemrum mellem billeder",
        "de": "Abstände zwischen Bildern hinzufügen",
        "en": "Add spacing between images",
        "es": "Agregar espacio entre las imágenes",
        "fi": "Lisää rako kuvien väliin",
        "fr": "Ajouter un espacement entre les images",
        "it": "Aggiungi spaziatura tra le immagini",
        "ja": "画像に間隔を追加する",
        "ko": "이미지 사이 간격 추가",
        "nb": "Legg til mellomrom mellom bilder",
        "nl": "Spatiëring tussen afbeeldingen toevoegen",
        "pl": "Dodaj odstępy między obrazami",
        "pt-BR": "Adicione espaçamento entre as imagens",
        "pt-PT": "Adicionar espaçamento entre as imagens",
        "sv": "Lägg till mellanrum mellan bilder",
        "th": "เพิ่มระยะห่างระหว่างรูปภาพ",
        "tr": "Görsellerin arasına boşluk ekle",
        "vi": "Thêm khoảng cách giữa các hình ảnh",
        "zh-CN": "在图片之间添加间距",
        "zh-TW": "在圖片之間新增間距"
      }
    },
    {
      "type": "checkbox",
      "id": "vendor_enable",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Řazení a filtrování",
        "da": "Sortering og filtrering",
        "de": "Sortieren und Filtern",
        "en": "Sorting & filtering",
        "es": "Ordenar y filtrar",
        "fi": "Lajittelu ja suodatus",
        "fr": "Tri et filtrage",
        "it": "Ordinamento e filtri",
        "ja": "並べ替えとフィルタリング",
        "ko": "정렬 및 필터링",
        "nb": "Sortering og filtrering",
        "nl": "Sorteren en filteren",
        "pl": "Sortowanie i filtrowanie",
        "pt-BR": "Organização e filtragem",
        "pt-PT": "Ordenação e filtragem",
        "sv": "Sortering och filtrering",
        "th": "การจัดเรียงและการกรอง",
        "tr": "Sıralama ve filtreleme",
        "vi": "Sắp xếp và lọc",
        "zh-CN": "排序和筛选",
        "zh-TW": "排序 & 篩選"
      }
    },
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": {
        "cs": "Zobrazit možnosti řazení",
        "da": "Vis sorteringsmuligheder",
        "de": "Sortieroptionen anzeigen",
        "en": "Show sorting options",
        "es": "Mostrar las opciones de clasificación",
        "fi": "Näytä lajitteluvaihtoehdot",
        "fr": "Afficher les options de tri",
        "it": "Mostra opzioni ordinamento",
        "ja": "並べ替えオプションを表示する",
        "ko": "정렬 옵션 표시",
        "nb": "Vis sorteringsalternativer",
        "nl": "Toon sorteeropties",
        "pl": "Pokaż opcje sortowania",
        "pt-BR": "Exibir opções de organização",
        "pt-PT": "Mostrar opções de ordenação",
        "sv": "Visa sorteringsalternativ",
        "th": "แสดงตัวเลือกการจัดเรียง",
        "tr": "Sıralama seçeneklerini göster",
        "vi": "Hiển thị tùy chọn sắp xếp",
        "zh-CN": "显示排序方式",
        "zh-TW": "顯示排序選項"
      }
    },
    {
      "type": "checkbox",
      "id": "collection_tags_enable",
      "label": {
        "cs": "Zobrazit filtrování pomocí štítků",
        "da": "Vis tagfiltrering",
        "de": "Filterung von Tags anzeigen",
        "en": "Show tag filtering",
        "es": "Mostrar filtro de etiquetas",
        "fi": "Näytä tunnisteiden suodatus",
        "fr": "Afficher le filtrage par balises",
        "it": "Mostra filtro tag",
        "ja": "タグによる絞り込みを表示する",
        "ko": "태그 필터링 표시",
        "nb": "Vis filtrering på tagger",
        "nl": "Tag-filtering tonen",
        "pl": "Pokaż filtrowanie tagów",
        "pt-BR": "Exibir a filtragem de tags",
        "pt-PT": "Mostrar a filtragem de etiquetas",
        "sv": "Visa taggfiltrering",
        "th": "แสดงการกรองแท็ก",
        "tr": "Etiket filtrelemeyi göster",
        "vi": "Hiển thị lọc theo thẻ",
        "zh-CN": "显示标签筛选",
        "zh-TW": "顯示標籤篩選條件"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Stránkování",
        "da": "Sidenummerering",
        "de": "Seitennummerierung",
        "en": "Pagination",
        "es": "Paginación",
        "fi": "Sivunumerointi",
        "fr": "Pagination",
        "it": "Impaginazione",
        "ja": "ページネーション",
        "ko": "페이지 매김",
        "nb": "Sideinndeling",
        "nl": "Paginering",
        "pl": "Paginacja",
        "pt-BR": "Paginação",
        "pt-PT": "Paginação",
        "sv": "Paginering",
        "th": "การแบ่งหน้า",
        "tr": "Sayfalara ayırma",
        "vi": "Phân trang",
        "zh-CN": "分页",
        "zh-TW": "分頁"
      }
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": {
        "cs": "Typ stránkování",
        "da": "Sidenummereringstype",
        "de": "Seitennummerierungsart",
        "en": "Pagination Type",
        "es": "Tipo de paginación",
        "fi": "Sivunumeroinnin tyyppi",
        "fr": "Type de pagination",
        "it": "Tipo di impaginazione",
        "ja": "ページネーションのタイプ",
        "ko": "페이지 매김 유형",
        "nb": "Pagineringstype",
        "nl": "Pagineringstype",
        "pl": "Typ paginacji",
        "pt-BR": "Tipo de paginação",
        "pt-PT": "Tipo de paginação",
        "sv": "Paginationstyp",
        "th": "ประเภทการแบ่งหน้า",
        "tr": "Sayfalara Ayırma Türü",
        "vi": "Kiểu phân trang",
        "zh-CN": "分页类型",
        "zh-TW": "分頁類型"
      },
      "default": "numbers",
      "options": [
        {
          "value": "numbers",
          "label": {
            "cs": "Očíslované stránky",
            "da": "Nummererede sider",
            "de": "Nummerierte Seiten",
            "en": "Numbered pages",
            "es": "Páginas numeradas",
            "fi": "Numeroidut sivut",
            "fr": "Pages numérotées",
            "it": "Pagine numerate",
            "ja": "番号付きページ",
            "ko": "페이지 번호 매김",
            "nb": "Nummererte sider",
            "nl": "Genummerde pagina's",
            "pl": "Ponumerowane strony",
            "pt-BR": "Páginas numeradas",
            "pt-PT": "Páginas numeradas",
            "sv": "Numrerade sidor",
            "th": "หน้าที่มีเลขหน้า",
            "tr": "Numaralı sayfalar",
            "vi": "Trang được đánh số",
            "zh-CN": "已编号页面",
            "zh-TW": "已編號的頁面"
          }
        },
        {
          "value": "show_more",
          "label": {
            "cs": "Tlačítko Zobrazit další",
            "da": "Knappen \"Se flere\"",
            "de": "Schaltfläche \"Mehr anzeigen\"",
            "en": "\"View more\" button",
            "es": "Botón \"Ver más\"",
            "fi": "\"Näytä lisää\" -painike",
            "fr": "Bouton « Afficher plus »",
            "it": "Pulsante \"Visualizza altro\"",
            "ja": "[詳細を表示する] ボタン",
            "ko": "\"추가 보기\" 버튼",
            "nb": "«Se mer»-knapp",
            "nl": "Knop 'Meer weergeven'",
            "pl": "Przycisk „Wyświetl więcej”",
            "pt-BR": "Botão \"Ver mais\"",
            "pt-PT": "Botão \"Ver mais\"",
            "sv": "\"Visa mer\"-knappen",
            "th": "ปุ่ม \"ดูเพิ่มเติม\"",
            "tr": "\"Daha fazlasını görüntüle\" düğmesi",
            "vi": "Nút \"Xem thêm\"",
            "zh-CN": "“查看详细信息”按钮",
            "zh-TW": "「檢視更多」按鈕"
          }
        }
      ]
    }
  ]
}
{% endschema %}
