<style>
  .site-header__logo img {
    max-width: {{ section.settings.logo_width | escape | default: '180' | remove: 'px' | append: 'px' }};
  }
  @media screen and (max-width: 749px) {
    .site-header__logo img {
      max-width: 100%;
    }
  }
</style>

<header class="site-header" role="banner" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="grid grid--no-gutters grid--table site-header__inner">
    <div class="grid__item one-third medium-up--two-sixths">
      <button type="button" class="site-header__link text-link site-header__toggle-nav js-drawer-open-left">
        <!-- <span class="icon icon-hamburger" aria-hidden="true"></span> -->
        <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.5" y1="0.5" x2="29.5" y2="0.5" stroke="black" stroke-linecap="round"/>
          <line x1="0.5" y1="25.1895" x2="29.5" y2="25.1895" stroke="black" stroke-linecap="round"/>
          <line x1="0.5" y1="12.8447" x2="16.2901" y2="12.8447" stroke="black" stroke-linecap="round"/>
        </svg>
        <span class="icon__fallback-text">{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>
    <div class="grid__item one-third medium-up--two-sixths">
      <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization">

        {%- if request.page_type == "index" -%}
          {%- if section.settings.logo_slideshow != blank -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
              {% capture image_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
              <img class="site-header__logo-image" src="{{ section.settings.logo_slideshow | img_url: image_size }}"
              srcset="{{ section.settings.logo_slideshow | img_url: image_size }} 1x, {{ section.settings.logo_slideshow | img_url: image_size, scale: 2 }} 2x" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {%- endif -%}
        {%- else -%}
          {%- if section.settings.logo != blank -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
              {% capture image_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
              <img class="site-header__logo-image" src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {%- else -%}
            <a href="{{ routes.root_url }}" class="site-header__link site-header__logo-link" itemprop="url">{{ shop.name }}</a>
          {%- endif -%}
        {%- endif -%}

      </div>
    </div>

    <div class="grid__item one-third medium-up--two-sixths text-right">
      {% if shop.customer_accounts_enabled %}
      <a href="{{ routes.account_url }}" class="site-header__account" style="vertical-align: top;line-height: 65px;letter-spacing: 1px;text-transform: uppercase;padding-right: 15px;">{{ 'layout.customer.account' | t }}</a>
      {% endif %}
      <a href="{{ routes.search_url }}" class="site-header__link site-header__search js-drawer-open-top">
        <span class="icon" aria-hidden="true">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11.057" cy="11.057" r="10.557" stroke="#333333"/>
            <line x1="18.5171" y1="18.2783" x2="29.9999" y2="29.7611" stroke="#333333" stroke-linecap="round"/>
          </svg>
        </span>
        <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
      </a>
      <a href="#swym-wishlist" class="swym-wishlist site-header__link site-header__wishlist">
        <span class="icon" aria-hidden="true">
          <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3088 23.762L12.3081 23.7613C8.69311 20.4437 5.73276 17.7263 3.67013 15.1741C1.61341 12.6293 0.5 10.3086 0.5 7.79292C0.5 3.69935 3.66978 0.5 7.7 0.5C9.98235 0.5 12.1824 1.57776 13.6174 3.28322L14 3.73792L14.3826 3.28322C15.8176 1.57776 18.0176 0.5 20.3 0.5C24.3302 0.5 27.5 3.69935 27.5 7.79292C27.5 10.3086 26.3866 12.6293 24.3298 15.176C22.2726 17.7233 19.3225 20.4365 15.7206 23.7491L15.6926 23.7749L15.6915 23.7759L14.0013 25.3213L12.3088 23.762Z" fill="white" stroke="#333333"/>
          </svg>
        </span>
      </a>
      <a href="{{ routes.cart_url }}" class="site-header__link site-header__cart cart-link{% if settings.cart_type == 'drawer' %} js-drawer-open-right{% endif %}{% if cart.item_count > 0 %} cart-bubble--visible{% endif %}">
        <span class="icon" aria-hidden="true">
          <svg width="23" height="31" viewBox="0 0 23 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0174 7.18975V10.3848H17.0174V7.18975H20.0178L21.7861 29.3129H1.82848L3.52158 7.18975H6.63555V10.3848H7.63555V7.18975H16.0174ZM17.0174 6.18975H20.4794H20.941L20.9778 6.64992L22.8261 29.7731L22.8693 30.3129H22.3277H1.28875H0.749023L0.790209 29.7748L2.55984 6.6516L2.59518 6.18975H3.05838H6.63555V5.19091C6.63555 2.32405 8.9596 0 11.8265 0C14.6933 0 17.0174 2.32405 17.0174 5.19092V6.18975ZM7.63555 6.18975V5.19091C7.63555 2.87633 9.51189 1 11.8265 1C14.141 1 16.0174 2.87634 16.0174 5.19092V6.18975H7.63555Z" fill="#333333"/>
          </svg>
        </span>
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
      </a>
    </div>
  </div>
</header>


{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "class": "header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Logo",
        "da": "Logo",
        "de": "Logo",
        "en": "Logo",
        "es": "Logo",
        "fi": "Logo",
        "fr": "Logo",
        "it": "Logo",
        "ja": "ロゴ",
        "ko": "로고",
        "nb": "Logo",
        "nl": "Logo",
        "pl": "Logo",
        "pt-BR": "Logotipo",
        "pt-PT": "Logótipo",
        "sv": "Logotyp",
        "th": "โลโก้",
        "tr": "Logo",
        "vi": "Logo",
        "zh-CN": "logo",
        "zh-TW": "商標"
      },
      "info": {
        "cs": "Maximálně 450 × 200 px",
        "da": "Maks. 450 x 200 px",
        "de": "Maximal 450 x 200 Pixel",
        "en": "450 x 200px max",
        "es": "450 x 200px máx.",
        "fi": "Enintään 450 x 200 pikseliä",
        "fr": "450 x 250 px max",
        "it": "450 x 200 px max",
        "ja": "最大450 x 200ピクセル",
        "ko": "최대 450x200 픽셀",
        "nb": "Maks 450 x 200 px",
        "nl": "450 x 200px max",
        "pl": "Maks. 450 x 200 px",
        "pt-BR": "450 x 200 px máx.",
        "pt-PT": "450 x 200 px máx.",
        "sv": "450 x 200 px max",
        "th": "สูงสุด 450 x 200 พิกเซล",
        "tr": "Maksimum 450 x 200 piksel",
        "vi": "Tối đa 450 x 200px",
        "zh-CN": "最大 450 x 200 px",
        "zh-TW": "最大 450 x 200 像素"
      }
    },
    {
      "type": "image_picker",
      "id": "logo_slideshow",
      "label": {
        "cs": "Logo na domovské stránce",
        "da": "Logo på startside",
        "de": "Startseitenlogo",
        "en": "Home page logo",
        "es": "Logo de la página de inicio",
        "fi": "Etusivun logo",
        "fr": "Logo de la page d'accueil",
        "it": "Logo della home page",
        "ja": "ホームページのロゴ",
        "ko": "홈페이지 로고",
        "nb": "Logo for startsiden",
        "nl": "Logo homepage",
        "pl": "Logo strony głównej",
        "pt-BR": "Logotipo da página inicial",
        "pt-PT": "Logótipo da página inicial",
        "sv": "Hemsideslogo",
        "th": "โลโก้หน้าแรก",
        "tr": "Ana sayfa logosu",
        "vi": "Logo trang chủ",
        "zh-CN": "主页 logo",
        "zh-TW": "首頁商標"
      },
      "info": {
        "cs": "Zobrazit v prezentaci",
        "da": "Vist i diasshow",
        "de": "In Slideshow anzeigen",
        "en": "Shown on slideshow",
        "es": "Mostrado en diapositivas",
        "fi": "Näkyy diaesityksessä",
        "fr": "Affiché sur le diaporama",
        "it": "Mostrato sulla presentazione",
        "ja": "スライドショーに表示する",
        "ko": "슬라이드쇼에 표시",
        "nb": "Vist i lysbildefremvisning",
        "nl": "Weergegeven op diavoorstelling",
        "pl": "Wyświetlane w pokazie slajdów",
        "pt-BR": "Exibido em slides",
        "pt-PT": "Mostrado numa apresentação de diapositivos",
        "sv": "Visas på bildspelet",
        "th": "แสดงในสไลด์โชว์",
        "tr": "Slayt gösterisinde gösterilir",
        "vi": "Hiển thị trên bản trình chiếu",
        "zh-CN": "显示在幻灯片上",
        "zh-TW": "素材輪播"
      }
    },
    {
      "type": "text",
      "id": "logo_width",
      "label": {
        "cs": "Šířka vlastního loga (v pixelech)",
        "da": "Tilpasset logobredde (i pixels)",
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logo personalizado (en píxeles)",
        "fi": "Mukautettu logon leveys (pikseleinä)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタマイズする (ピクセル単位)",
        "ko": "사용자 지정 로고 폭 (픽셀)",
        "nb": "Tilpasset logobredde (i piksler)",
        "nl": "Aangepaste logobreedte (in pixels)",
        "pl": "Niestandardowa szerokość logo (w pikselach)",
        "pt-BR": "Largura do logotipo personalizado (em pixels)",
        "pt-PT": "Largura de logótipo personalizada (em píxeis)",
        "sv": "Anpassad logotypbredd (i pixlar)",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง (เป็นพิกเซล)",
        "tr": "Özel logo genişliği (piksel)",
        "vi": "Chiều rộng logo tùy chỉnh (pixel)",
        "zh-CN": "自定义 logo 宽度（像素）",
        "zh-TW": "自訂標誌寬度 (單位為像素)"
      },
      "default": {
        "cs": "180",
        "da": "180",
        "de": "180",
        "en": "180",
        "es": "180",
        "fi": "180",
        "fr": "180",
        "it": "180",
        "ja": "180",
        "ko": "180",
        "nb": "180",
        "nl": "180",
        "pl": "180",
        "pt-BR": "180",
        "pt-PT": "180",
        "sv": "180",
        "th": "180",
        "tr": "180",
        "vi": "180",
        "zh-CN": "180",
        "zh-TW": "180"
      }
    }
  ]
}
{% endschema %}
