<div class="drawer__header" data-section-id="{{ section.id }}" data-section-type="sidebar-menu-section">
  <div class="drawer__close">
    <button type="button" class="drawer__close-button js-drawer-close">
      <span class="icon icon-x" aria-hidden="true"></span>
      <span class="icon__fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
    </button>
  </div>
  <div class="drawer__wishlist">
    <a href="#swym-wishlist" class="swym-wishlist site-header__link site-header__search">
      <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.3088 23.762L12.3081 23.7613C8.69311 20.4437 5.73276 17.7263 3.67013 15.1741C1.61341 12.6293 0.5 10.3086 0.5 7.79292C0.5 3.69935 3.66978 0.5 7.7 0.5C9.98235 0.5 12.1824 1.57776 13.6174 3.28322L14 3.73792L14.3826 3.28322C15.8176 1.57776 18.0176 0.5 20.3 0.5C24.3302 0.5 27.5 3.69935 27.5 7.79292C27.5 10.3086 26.3866 12.6293 24.3298 15.176C22.2726 17.7233 19.3225 20.4365 15.7206 23.7491L15.6926 23.7749L15.6915 23.7759L14.0013 25.3213L12.3088 23.762Z" fill="white" stroke="#333333"/>
      </svg>
    </a>
  </div>
  {% if shop.customer_accounts_enabled %}
  <div class="drawer__account">
    <a href="{{ routes.account_url }}" class="site-header__link">
      <svg width="20" height="20" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.46 5.5873C15.46 8.40787 13.2286 10.6746 10.5 10.6746C7.77151 10.6746 5.54004 8.40787 5.54004 5.5873C5.54004 2.76674 7.77151 0.5 10.5 0.5C13.2286 0.5 15.46 2.76674 15.46 5.5873Z" stroke="black"/>
      <path d="M16.3282 21.5L4.67182 21.5C2.36779 21.5 0.5 19.6322 0.5 17.3282C0.5 15.3886 1.83679 13.7048 3.7259 13.265L8.23259 12.2158C9.72425 11.8686 11.2757 11.8686 12.7674 12.2158L17.2741 13.265C19.1632 13.7048 20.5 15.3886 20.5 17.3282C20.5 19.6322 18.6322 21.5 16.3282 21.5Z" stroke="black"/>
      </svg>
    </a>
  </div>
  {% endif %}
</div>
<div class="drawer__inner">
  <ul class="drawer-nav">
    {% for link in linklists[section.settings.sidebar_top_link_list].links %}
      {% assign outerLoopIndex = forloop.index %}
      {% if link.links != blank %}
        {% assign has_active_link = false %}

        {% if link.active or link.child_active %}
          {% assign has_active_link = true %}
        {% endif %}

        <li class="drawer-nav__item{% unless request.page_type == 'index' %}{% if link.active %} drawer-nav__item--active{% endif %}{% endunless %}" aria-haspopup="true">
          <div class="drawer-nav__has-sublist{% if has_active_link %} drawer-nav--expanded{% endif %}">
            <a href="{{ link.url }}" class="drawer-nav__link h2"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
            <div class="drawer-nav__toggle">
              <button type="button" class="drawer-nav__toggle-button" aria-expanded="{{ has_active_link }}" aria-label="{{ link.title }} {{ 'layout.navigation.menu' | t }}" aria-controls="Submenu-{{ outerLoopIndex }}">
                <span class="icon {% if has_active_link %}icon-minus{% else %}icon-plus{% endif %}" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <ul class="drawer-nav__sublist" id="Submenu-{{ outerLoopIndex }}">
            {% for childlink in link.links %}
              {% if childlink.links != blank %}
                {% assign has_active_childlink = false %}

                {% if childlink.active or childlink.child_active %}
                  {% assign has_active_childlink = true %}
                {% endif %}

                <li class="drawer-nav__item{% unless request.page_type == 'index' %}{% if childlink.active %} drawer-nav__item--active{% endif %}{% endunless %}" aria-haspopup="true">
                  <div class="drawer-nav__has-sublist{% if has_active_childlink %} drawer-nav--expanded{% endif %}">
                    <a href="{{ childlink.url }}" class="drawer-nav__link"{% if childlink.active %} aria-current="page"{% endif %}>{{ childlink.title }}</a>
                    <div class="drawer-nav__toggle">
                      <button type="button" class="drawer-nav__toggle-button" aria-expanded="{{ has_active_childlink }}" aria-label="{{ childlink.title }} {{ 'layout.navigation.menu' | t }}" aria-controls="Submenu-{{ outerLoopIndex }}-{{ forloop.index }}">
                        <span class="icon {% if has_active_childlink %}icon-minus{% else %}icon-plus{% endif %}" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                  <ul class="drawer-nav__sublist drawer-nav__sublist--inner" id="Submenu-{{ outerLoopIndex }}-{{ forloop.index }}">
                    {% for grandchildlink in childlink.links %}
                      <li class="drawer-nav__item drawer-nav__grandchild{% unless request.page_type == 'index' %}{% if grandchildlink.active %} drawer-nav__item--active{% endif %}{% endunless %}">
                        <a href="{{ grandchildlink.url }}" class="drawer-nav__link"{% if grandchildlink.active %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="drawer-nav__item{% unless request.page_type == 'index' %}{% if childlink.active %} drawer-nav__item--active{% endif %}{% endunless %}">
                  <a href="{{ childlink.url }}" class="drawer-nav__link"{% if childlink.active %} aria-current="page"{% endif %}>{{ childlink.title | escape }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="drawer-nav__item{% unless request.page_type == 'index' %}{% if link.active %} drawer-nav__item--active{% endif %}{% endunless %}">
          <a href="{{ link.url }}" class="drawer-nav__link h2"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="drawer-nav__spacer"></li>

    {% for link in linklists[section.settings.sidebar_bottom_link_list].links %}
      <!-- <li class="drawer-nav__item drawer-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li> -->
    {% endfor %}
  </ul>
</div>



{% schema %}
{
  "name": {
    "cs": "Nabídka v postranní liště",
    "da": "Sidebjælkemenu",
    "de": "Seitenleistenmenü",
    "en": "Sidebar menu",
    "es": "Menú de la barra lateral",
    "fi": "Sivupalkkivalikko",
    "fr": "Menu de la barre latérale",
    "it": "Menu sidebar",
    "ja": "サイドバーメニュー",
    "ko": "사이드바 메뉴",
    "nb": "Sidepanelmeny",
    "nl": "Zijbalkmenu",
    "pl": "Menu paska bocznego",
    "pt-BR": "Menu lateral",
    "pt-PT": "Menu lateral",
    "sv": "Sidomeny",
    "th": "เมนูแถบด้านข้าง",
    "tr": "Yan çubuk menüsü",
    "vi": "Menu thanh bên",
    "zh-CN": "侧边栏菜单",
    "zh-TW": "側邊欄選單"
  },
  "class": "sidebar-menu-section",
  "settings": [
    {
      "type": "link_list",
      "id": "sidebar_top_link_list",
      "label": {
        "cs": "Primární nabídka",
        "da": "Primær menu",
        "de": "Hauptmenü",
        "en": "Primary menu",
        "es": "Menú primario",
        "fi": "Ensisijainen valikko",
        "fr": "Menu principal",
        "it": "Menu principale",
        "ja": "プライマリメニュー",
        "ko": "기본 메뉴",
        "nb": "Primærmeny",
        "nl": "Eerste menu",
        "pl": "Główne menu",
        "pt-BR": "Menu principal",
        "pt-PT": "Menu primário",
        "sv": "Primärmeny",
        "th": "เมนูหลัก",
        "tr": "Birincil menü",
        "vi": "Menu chính",
        "zh-CN": "主菜单",
        "zh-TW": "主要選單"
      },
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_bottom_link_list",
      "label": {
        "cs": "Vedlejší nabídka",
        "da": "Ekstra menu",
        "de": "Zusatzmenü",
        "en": "Additional menu",
        "es": "Menú adicional",
        "fi": "Lisävalikko",
        "fr": "Menu supplémentaire",
        "it": "Menu aggiuntivo",
        "ja": "追加メニュー",
        "ko": "추가 메뉴",
        "nb": "Tilleggsmeny",
        "nl": "Extra menu",
        "pl": "Dodatkowe menu",
        "pt-BR": "Menu adicional",
        "pt-PT": "Menu adicional",
        "sv": "Ytterligare meny",
        "th": "เมนูเพิ่มเติม",
        "tr": "Ek menü",
        "vi": "Menu bổ sung",
        "zh-CN": "其他菜单",
        "zh-TW": "附加選單"
      },
      "default": "footer",
      "info": {
        "cs": "V této nabídce se nezobrazí položky rozevíracího seznamu",
        "da": "Denne menu viser ikke rullemenupunkter",
        "de": "Dieses Menü zeigt keine Dropdowns an",
        "en": "This menu won't show dropdown items",
        "es": "Este menú no mostrará elementos desplegables",
        "fi": "Tämä valikko ei näytä pudotuskohteita",
        "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
        "it": "Questo menu non mostrerà elementi a discesa",
        "ja": "このメニューにはドロップダウンアイテムは表示されません",
        "ko": "이 메뉴는 드롭 다운 항목을 표시하지 않습니다.",
        "nb": "Denne menyen vil ikke vise rullegardinelementer",
        "nl": "Dit menu laat geen vervolgkeuze-artikelen zien.",
        "pl": "W tym menu pozycje rozwijane nie będą wyświetlane",
        "pt-BR": "Este menu não mostra itens suspensos",
        "pt-PT": "Este menu não irá mostrar itens pendentes",
        "sv": "Den här menyn kommer inte att visa objekt i rullgardinsmenyn",
        "th": "เมนูนี้จะไม่แสดงรายการดรอปดาวน์",
        "tr": "Bu menü açılır öğeleri göstermez",
        "vi": "Menu này sẽ không hiển thị các mục thả xuống",
        "zh-CN": "此菜单不会显示下拉项",
        "zh-TW": "這個選單不會顯示下拉式項目"
      }
    }
  ]
}
{% endschema %}
